{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "chrome": "77",
                    "edge": "18",
                    "firefox": "69",
                    "safari": "13",
                    "ios": "13",
                    "opera": "62"
                },
                "modules": "umd",
                "debug": false
            }
        ]
    ],
    "plugins": [],
    "env": {
        "coverage-test": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "chrome": "54"
                        },
                        "modules": "commonjs",
                        "debug": false
                    }
                ]
            ]
        },
        "ie11-support": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "browsers": "ie >= 11"
                        },
                        "modules": "commonjs",
                        "debug": false
                    }
                ]
            ]
        }
    }
}
