{
  "presets": [
    [
      "env", {
        "targets": {
          "chrome": "66",
          "edge": "17",
          "firefox": "60",
          "safari": "11.1",
          "ios": "11.3",
          "opera": "53"
        },
        "modules": "umd",
        "debug": false
      }
    ]
  ],
  "plugins": [],
  "env": {
    "coverage-test": {
      "presets": [
        [
          "env", {
            "targets": {
              "es": "6"
            },
            "modules": "commonjs",
            "debug": false
          }
        ]
      ]
    },
    "ie11-support": {
      "presets": [
        [
          "env", {
            "targets": {
              "browsers": "ie >= 11"
            },
            "modules": "commonjs",
            "debug": false
          }
        ]
      ]
    }
  }
}
